<% if @model == 'user' %>
  <h2>ユーザー検索<%= @content%></h2>
  <%= render 'users/index', users: @records%>
  <% elsif @model == 'book' %>
  <h2>本の検索<%= @content%></h2>
  <%= render 'books/index', books: @records%>
<% end %>